/* body{
    height:900vh ;
} */
/* 
html{
    scroll-behavior: smooth;
} */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    

}


nav{
    background-color: #1c335f;
    color: white;
}

svg{
    color: white;

}
svg:hover{
    color: #5e5d76;
    text-decoration: none;
    transition: all .2s;

}


.Link_1,
.Link_2,
.Link_3,
.Link_4{
    color: #5e5d76;
    font-size: 14px;
    text-decoration: none;
    transition: all .5s;
    color: #c3c1da;
}

.info1 ul li::before{
    
    content: "";
    margin: 2px;
    width: 1px;
    height: 10px;
    top: 1px;
    background: #5e5d76;
    display: inline-block;
    position: relative;
}



.UmsDescripe{
    color: #677294;
    display: flex;
    align-items: center;
    font-size: 20px;
}


.container1 {
    position: relative;
    transition: ease 1s;
    width: 100%;
    height: 650px;
    overflow: hidden;
}

.slider{
    z-index: 10;
    transition: ease 1s;
    width: 300%;
    position: relative;


}


.slider img{
    height: 650px;


}



.ArrowLeft{
    z-index: 11;
    position: absolute;
    left: 5%;
    bottom: 50%;
}

.ArrowRight{
    z-index: 11;
    position: absolute;
    right: 5%;
    bottom: 50%;
}

.CheckContainer{
    position: absolute;
    left: 44%;
    bottom: 10px;
}




.Check1,
.Check2,
.Check3{
    z-index: 12;
    position: absolute;
    background-color:rgba(255, 255, 255, 0.516);
    bottom: 10%;
    width: 30px;
    height: 10px;
    border-radius: 10px;

}

.Check2{
    left: 50px;
}

.Check3{
left: 100px;
}
.span1{
    transition: ease-in-out 1.5s;
    font-size: 30px;
    color: #1c335f;
    font-weight: 700;
    position: absolute;
    z-index: 13;
    top: 244px;
    left: 0px;
    opacity: 0% ;
}
.descripe1{
    font-size: medium;
}






















.CardsContainer{
    background-image: url(CardsBackground.jpg);
    background-size: cover;
    position: relative;
    transition: all 2s;
    right: 100%;
    opacity:0%;
}


.Card1{
    transition: ease-in-out .2s;
    bottom: 0px;
}

.Card1:hover{
    /* transition: all .7s; */
    bottom: 15px;
    opacity: 90%;
    cursor: pointer;
}










.Login:after,
.Login:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}

.MainDownNav{
    margin-bottom: 100px;
    display: block;
    height: 80px ;
    background-color: #f7f7f7;
    margin: 10px;

}
.Ungraduated{
    margin-top: 70px;
    width: 100%;
    background-color: #f7f7f7;

}



.DownNavBar{
    direction: rtl;
}


.NavBtn{
    transition: ease-in-out .3s;
    outline: none;
    border: none;
    color: #677294;

}
.NavBtn svg{
    background-color: orange;
    border-radius: 50%;
}



.active{
    display: block;
}

.NotActive{
    display: none;
}



.ServiceList li a{
    transition: all .5s;
    text-decoration: none;
    color: #677294;
    font-size: 20px;
}

.ServiceList li a:hover {
    text-decoration:underline;
    color: #049dff;

}

.ServicesContainer,
.LoginContainer{
    position: relative;
    left: 100%;
    transition: ease-in-out 2s;
    opacity: 0% ;
}



.stat{
    background-color: #1c335f;
}





.FooterLinks li a{
    text-decoration: none;
    color: #5e5d76;

}

.FIcon{
    color: rgb(48, 48, 193);
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.YIcon{
    color: red;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.LIcon{
    color: rgb(3, 34, 173);
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.GIcon{
    color: rgb(211, 241, 127);
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.FooterLinks li a:hover{
    transition: all .5s;
    text-decoration: underline;
    color:#049dff ;
}






.FooterFinish li a{
    text-decoration: none;
    color: #5e5d76;
}

.FooterFinish li::before{
    
    content: "";
    margin: 4px;
    width: 1px;
    height: 10px;
    top: 1px;
    background: #5e5d76;
    display: inline-block;
    position: relative;

}
.FooterFinish li a:hover{
    transition: ease .5s;
    text-decoration: underline;
    color: #049dff;
}

footer .container .row1{
    position: relative;
    transition: all 3s;
    right: 100%;
    opacity: 0%;

}



.Caption1{
    top: 30%;
    left: 25%;
    color: #1c335f;
}

.Caption2,
.Caption3{
    top: 25%;
    left: 10%;
}





